$fallback-fonts: helvetica;
$primary-font: 'myriad-pro', $fallback-fonts;
$secondary-font: 'source-sans-pro', $fallback-fonts;
//Typography

$base-font-size-sm: 14px;
$base-font-size: 16px;
$base-font-size-lg: 21px;
$btn-font-size-sm: 12px;

$base-font-weight: 300;
$base-font-thick-weight: 400;
$base-font-bold-weight: 600;
$base-font-light-weight: 100;

$heading-weight: 500;
$heading-weight-md: 600;
$basic-space: 21px;
$base-line-height: 1.13;
